@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #061C35;
  --gradient-primary: linear-gradient(92.41deg, #FFA500 0%, #FF5C3D 100%);
  --gradient-card: linear-gradient(180deg, rgba(1, 21, 45, 0) 0%, #01152D 100%);
  --tertiary-color: #FFA500;
}

body {
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.rotateImage {
  animation: rotateMe 20s infinite forwards linear;
}

@keyframes rotateMe {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.partners:last-child{
  border: none;
}